<!DOCTYPE html>
<html>
<head>
    <title>Insertar Datos</title>
</head>
<body>
    <h1>Insertar Datos</h1>
    <form method="post">
        {% csrf_token %}
        <label for="titulo">Título:</label>
        <input type="text" name="titulo"><br>
        <label for="descripcion">Descripción:</label>
        <textarea name="descripcion"></textarea><br>
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre"><br>
        <label for="email">Email:</label>
        <input type="email" name="email"><br>
        <label for="mensaje">Mensaje:</label>
        <textarea name="mensaje"></textarea><br>
        <label for="suscripcion_email">Email de Suscripción:</label>
        <input type="email" name="suscripcion_email"><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>
